# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# APK / Build
release-apk/
*.apk
*.aab

# Logs
*.log
run*.zip
run_logs/

# OS
.DS_Store
Thumbs.db
